*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



body{
    font-size: 24px;
    background-color: #16181d !important;
    color: blueviolet;
}

#first{
    color: #2258e0;
}
.purple{
    color: aqua;
    font-family: monospace;
}

.hilight:hover{
    color: #18a8ff;
    background-color: #23262e;;
}

#first>p{
    color: green;
}